<div class="jumbotron">
    <h1>CHAT BOT</h1>
</div>
<div class="row">
    <div id="wrapper">
        <div id="menu">
            <div style="clear:both"></div>
        </div>

        <div id="chatbox"></div>

        <div class="form-group" name="message">
            <label class="radio-inline"><input type="radio" name="optradio" value="1" checked="checked">QnA Maker</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="2">Accord.Net</label>
            <input class="form-control" name="usermsg" type="text" id="usermsg"/>
            <button class="btn btn-primary" type="button" id="submitButton" name="submitButton">Submit</button>
        </div>
    </div>
</div>
