<div class="jumbotron">
    <h1>Info</h1>
</div>
<div class="row">
    <div id="wrapper">
        <div id="menu">
            <h3 class="information">This webpage was released by Suto.</h3>
            <h5 class="information">My name is S. Contact me on: anonymus@anonym.com</h5>
        </div>
    </div>
</div>
