/* CSS Document */
body {
    text-align: center;
    padding: 35px;
}

input {
    font: 12px arial;
}

#wrapper {
    margin: 0 auto;
    padding: 25px;
    background: #062136;
    border-radius: 10px;

    min-height: 400px;
    min-width: 600px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ACD8F0;
    overflow: auto;
    border-radius: 10px;

    min-height: 280px;
    min-width: 480px;

    max-height: 600px;
}

#usermsg {
    margin: 0 auto;
    border: 3px solid #e21323;
    margin-bottom: 10px;
}


/*Chat*/

#errorDiv{
    color: #fff;
}

/* MESSAGE CELLS */
.chatMe {
    border-radius: 10px;
    padding: 10px;
    margin: 0 36px 0 0;
    background: #c7edfc;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
    white-space: normal;
}

.chatUserName, .chatAssistantName {
    color: #e21323;
    font-weight: bold;
}

.chatAssistant {
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 0 36px;
    background: #e5f7fd;
    margin-bottom: 10px;
    white-space: normal;
}

.radioButtons {
    margin-bottom: 15px;
}

.figureImage {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.figureText {
    display: block;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}

/* TABLE */
table {
    border: 1px solid black;
    text-align: center;
}

table th {
    font-weight: bold;
    text-align: center;
}

table td, table th {
    border: 1px solid black;
}

/* NOTE SECTION */
.boxWithNoSides {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    margin-bottom: 20px;
    margin-top: 20px;
}

.note {
    margin-bottom: 5px;
    font-weight: bold;
}